<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AccurateAppend-JobProcessing.Orchestration" version="1.2.7464.15138" targetFramework="net48" />
  <package id="Core-Collections" version="2.0.7464.24416" targetFramework="net48" />
  <package id="Core-Common" version="5.0.7464.24414" targetFramework="net48" />
  <package id="Core-ComponentModel" version="1.1.7464.24415" targetFramework="net48" />
  <package id="NServiceBus" version="6.5.8" targetFramework="net48" />
</packages>