<div class="append-list">
  <div class="heading-box" style="min-height: 1px;">
    @*<h2>Append a List</h2>*@
  </div>
  <ul>
    <li>
      <a href="@Url.Action("Index", "Current", new {Area = "Order"})">My Orders</a>
    </li>
    <li>
      <a href="@Url.Action("Index", "Bills", new {Area = "Order"})">My Bills</a>
    </li>
  </ul>
</div>