<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <components>

   <!-- Box.com oAUth Integration Configuration -->
   <component id="Box oAuth Config" type="AccurateAppend.Websites.Clients.Areas.Box.AuthHandler.ConfigurationSelector, AccurateAppend.Websites.Clients" lifestyle="Singleton"/>

 </components>
</castle>