<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <properties>
  <aadb>ASPMembershipDB</aadb>
 </properties>

 <facilities>
  <!-- Add the Startable facility so auto-initializing components are enabled -->
  <facility id="startable" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc"/>
 </facilities>
 <components>

  <!-- System Wide DAL (HANDLERS) -->
  <component id="Handler Context" service="AccurateAppend.Data.ISessionContext, AccurateAppend.Data" type="AccurateAppend.Websites.Clients.DataContext, AccurateAppend.Websites.Clients" lifestyle="Transient">
   <parameters>
    <nameOrConnectionString>#{aadb}</nameOrConnectionString>
   </parameters>
   <forwardedTypes>
    <add service="AccurateAppend.Accounting.DataAccess.DefaultContext, AccurateAppend.Accounting" />
   </forwardedTypes>
  </component>

  <!-- Email Queues -->
  <component id="Internal Message Queue" service="AccurateAppend.Accounting.DataAccess.IMessageQueue, AccurateAppend.Accounting" type="AccurateAppend.Accounting.DataAccess.DbMailQueue, AccurateAppend.Accounting" lifestyle="Transient">
   <parameters>
    <context>${Handler Context}</context>
    <profileName>Notifications</profileName>
   </parameters>
   <forwardedTypes>
    <add service="AccurateAppend.Accounting.DataAccess.DbMailQueue, AccurateAppend.Accounting" />
   </forwardedTypes>
  </component>

   <!-- SALES -->
  <component id="Sales Db Context" type="AccurateAppend.Sales.DataAccess.DefaultContext, AccurateAppend.Sales" lifestyle="Transient">
    <parameters>
      <nameOrConnectionString>#{aadb}</nameOrConnectionString>
    </parameters>
  </component>

   <component id="CsvSalesSaga" type="AccurateAppend.Websites.Clients.Areas.Order.Csv.Messages.CsvSalesSaga, AccurateAppend.Websites.Clients" lifestyle="Transient">
     <parameters>
       <tempFolder>${Temp}</tempFolder>
     </parameters>
   </component>

   <component id="CsvOrderProcessingSaga" type="AccurateAppend.Websites.Clients.Messages.Csv.CsvOrderProcessingSaga, AccurateAppend.Websites.Clients" lifestyle="Transient"/>

   <component id="NationBuilderSalesSaga" type="AccurateAppend.Websites.Clients.Areas.NationBuilder.Order.Messages.NationBuilderSalesSaga, AccurateAppend.Websites.Clients" lifestyle="Transient"/>

   <!-- ZenDesk -->
   <component id="ZenDesk Authentication" service="AccurateAppend.ZenDesk.Security.Authentication, AccurateAppend.ZenDesk" type="AccurateAppend.ZenDesk.Security.OAuthAuthentication, AccurateAppend.ZenDesk" lifestyle="Singleton">
     <parameters>
       <email>support@accurateappend.com</email>
       <apiToken>0PGgmFODz8tPgT70S00Y9vVd8bUiJU8gHGTOeKiP</apiToken>
     </parameters>
   </component>

 </components>
</castle>