<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <components>
  <!-- Controller Specific Overrides -->

  <component id="PublicFilesController" type="AccurateAppend.Websites.Clients.Areas.Public.File.Controller, AccurateAppend.Websites.Clients" lifestyle="Transient">
   <parameters>
    <assistedFiles>${Assisted Files}</assistedFiles>
   </parameters>
  </component>

  <component id="Orders CurrentController" type="AccurateAppend.Websites.Clients.Areas.Order.Current.Controller, AccurateAppend.Websites.Clients" lifestyle="Transient">
   <parameters>
    <context>${READONLY Context}</context>
   </parameters>
  </component>

  <component id="NB PricingController" type="AccurateAppend.Websites.Clients.Areas.NationBuilder.Pricing.Controller, AccurateAppend.Websites.Clients" lifestyle="Transient">
   <parameters>
    <productHelper>${NB IProductHelpService}</productHelper>
   </parameters>
  </component>

  <component id="Client PricingController" type="AccurateAppend.Websites.Clients.Areas.Order.Pricing.Controller, AccurateAppend.Websites.Clients" lifestyle="Transient">
   <parameters>
    <productHelper>${Client IProductHelpService}</productHelper>
   </parameters>
  </component>

  <component id="DownloadController" type="AccurateAppend.Websites.Clients.Areas.JobProcessing.Download.DownloadController, AccurateAppend.Websites.Clients" lifestyle="Transient">
    <parameters>
     <context>${READONLY Context}</context>
     <outbox>${Outbox}</outbox>
    </parameters>
  </component>

 </components>
</castle>