<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <components>

  <!-- List Builder -->
  <component id="List Builder" service="AccurateAppend.ListBuilder.DataSources.ConsumerProfile.IDataAccess, AccurateAppend.ListBuilder" type="AccurateAppend.ListBuilder.DataSources.ConsumerProfile.DataAccess, AccurateAppend.ListBuilder" lifestyle="PerWebRequest">
   
  </component>

 </components>
</castle>