<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <components>

  <!-- NationBuilder oAUth Integration Configuration -->
  <component id="NationBuilder oAuth Config" type="AccurateAppend.Websites.Clients.Areas.NationBuilder.AuthHandler.ConfigurationSelector, AccurateAppend.Websites.Clients" lifestyle="Singleton"/>

  <!-- NationBuilder Order Product Support -->
  <component id="NB IProductHelpService" service="AccurateAppend.Websites.Clients.Areas.IProductHelpService, AccurateAppend.Websites.Clients" type="AccurateAppend.Websites.Clients.Areas.FileBasedProductHelpService, AccurateAppend.Websites.Clients"  lifestyle="Singleton">
   <parameters>
    <location>${NationBuilder Product Descriptions}</location>
   </parameters>
  </component>

  <!-- NationBuilder Order Product Files -->
  <component id="NationBuilder Product Descriptions" service="AccurateAppend.Core.Utilities.IFileLocation, AccurateAppend.Core" type="AccurateAppend.Websites.Clients.Utilities.ResourceFileProxyFactory, AccurateAppend.Websites.Clients" lifestyle="Singleton">
    <parameters>
      <pathRoot>Areas\NationBuilder\Pricing\Product Descriptions</pathRoot>
    </parameters>
  </component>

  <!-- NationBuilder Cost Estimation Service -->
  <component id="NB Cost Service" service="AccurateAppend.Sales.ICostService, AccurateAppend.Sales" type="AccurateAppend.Sales.DataAccess.NationBuilderCostService, AccurateAppend.Sales" lifestyle="PerWebRequest">
  </component>

 </components>
</castle>