<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <properties>
  <aadb>ASPMembershipDB</aadb>
 </properties>
 
  <components>
    
    <!-- START Operations  -->
    <component id="Operations Db Context" type="AccurateAppend.Operations.DataAccess.DefaultContext, AccurateAppend.Operations" lifestyle="PerWebRequest">
      <parameters>
        <nameOrConnectionString>#{aadb}</nameOrConnectionString>
      </parameters>
    </component>
    <!-- END Operations -->

  </components>
</castle>
