<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <components>

  <!-- Client Order Product Support -->
  <component id="Client IProductHelpService" service="AccurateAppend.Websites.Clients.Areas.IProductHelpService, AccurateAppend.Websites.Clients" type="AccurateAppend.Websites.Clients.Areas.FileBasedProductHelpService, AccurateAppend.Websites.Clients"  lifestyle="Singleton">
   <parameters>
    <location>${Default Product Descriptions}</location>
   </parameters>
  </component>

  <!-- Client Order Product Files -->
  <component id="Default Product Descriptions" service="AccurateAppend.Core.Utilities.IFileLocation, AccurateAppend.Core" type="AccurateAppend.Websites.Clients.Utilities.ResourceFileProxyFactory, AccurateAppend.Websites.Clients" lifestyle="Singleton">
   <parameters>
     <pathRoot>Areas\Order\Pricing\Product Descriptions</pathRoot>
   </parameters>
  </component>

   <!-- Processing Report Formatter -->
   <component id="IReportFormatter" service="AccurateAppend.JobProcessing.Reporting.IReportFormatter, AccurateAppend.JobProcessing" type="AccurateAppend.JobProcessing.Reporting.TextReportFormatter, AccurateAppend.JobProcessing" lifestyle="Singleton">
     <parameters>
       <groupBy>MatchType</groupBy>
     </parameters>
   </component>

 </components>
</castle>