<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <properties>
  <aadb>ASPMembershipDB</aadb>
 </properties>
 
  <components>
    
    <!-- START Sales  -->
    <component id="Sales Db Context" type="AccurateAppend.Sales.DataAccess.DefaultContext, AccurateAppend.Sales" lifestyle="Transient">
      <parameters>
        <nameOrConnectionString>#{aadb}</nameOrConnectionString>
      </parameters>
    </component>

    <component id="IUsageReportBuilder" service="AccurateAppend.Sales.Formatters.IUsageReportBuilder, AccurateAppend.Sales" type="AccurateAppend.Sales.DataAccess.DefaultUsageReportBuilder, AccurateAppend.Sales" lifestyle="Transient"/>
    <!-- END Sales -->

  </components>
</castle>
