<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <include uri="file://Configuration/NationBuilder.config" />
  <include uri="file://Configuration/ListBuilder.config" />
  <include uri="file://Configuration/Public Ordering.config" />
  <include uri="file://Configuration/Charge Context Components.config" />
  <include uri="file://Configuration/Sales Context Components.config" />
  <include uri="file://Configuration/Operations Context Components.config" />
  <include uri="file://Configuration/Box.config" />
 <properties>
  <aadb>ASPMembershipDB</aadb>
 </properties>

 <components>

  <!-- System Wide DAL -->
  <component id="DB Context" service="AccurateAppend.Data.ISessionContext, AccurateAppend.Data" type="AccurateAppend.Websites.Clients.DataContext, AccurateAppend.Websites.Clients" lifestyle="PerWebRequest">
   <parameters>
    <nameOrConnectionString>#{aadb}</nameOrConnectionString>
   </parameters>
   <forwardedTypes>
    <add service="AccurateAppend.Accounting.DataAccess.DefaultContext, AccurateAppend.Accounting" />
    <add service="AccurateAppend.JobProcessing.DataAccess.DefaultContext, AccurateAppend.JobProcessing" />
    <add service="AccurateAppend.Websites.Clients.DataContext, AccurateAppend.Websites.Clients" />
   </forwardedTypes>
  </component>

  <component id="READONLY Context" service="AccurateAppend.Data.ISessionContext, AccurateAppend.Data" type="AccurateAppend.Websites.Clients.Data.ReadContext, AccurateAppend.Websites.Clients" lifestyle="PerWebRequest">
   <parameters>
    <nameOrConnectionString>#{aadb}</nameOrConnectionString>
   </parameters>
  </component>

  <!-- ASPNET provider proxies -->
  <component id="FormsAuthenticationService" service="AccurateAppend.Security.IFormsAuthentication, DomainModel" type="DomainModel.FormsAuthenticationService, DomainModel" lifestyle="Singleton" />
   <component id="MembershipService Observer" service="AccurateAppend.Security.IMembershipService, AccurateAppend.Security" type="AccurateAppend.Websites.Clients.Security.MembershipServiceObserver, AccurateAppend.Websites.Clients" lifestyle="Transient" >
     <parameters>
       <subject>${AccountMembershipService}</subject>
     </parameters>
   </component>
  <component id="AccountMembershipService" service="AccurateAppend.Security.IMembershipService, AccurateAppend.Security" type="AccurateAppend.Websites.Clients.Security.AccountMembershipService, AccurateAppend.Websites.Clients" lifestyle="Transient" />
  <component ID="AuthenticationContext" type="AccurateAppend.Security.DataAccess.AuthenticationContext, AccurateAppend.Security" lifestyle="PerWebRequest">
   <parameters>
    <nameOrConnectionString>#{aadb}</nameOrConnectionString>
   </parameters>
  </component>

  <!-- Account Signup -->
  <component id="AccountSignupService" type="AccurateAppend.Websites.Clients.Security.AccountSignupService, AccurateAppend.Websites.Clients" lifestyle="PerWebRequest">
  </component>

  <!-- Facebook Security Components -->
  <component id="Facebook Config" type="AccurateAppend.Websites.Clients.Areas.Authentication.Facebook.FacebookSecurityConfiguration, AccurateAppend.Websites.Clients" lifestyle="Singleton">
   <parameters>
    <appId>379724108882032</appId>
    <secret>5dfd52ac63eb58ba9b7660de367df696</secret>
   </parameters>
  </component>

  <!-- Google+ Security Components -->
  <component id="Google Config" type="AccurateAppend.Websites.Clients.Areas.Authentication.Google.GoogleSecurityConfiguration, AccurateAppend.Websites.Clients" lifestyle="Singleton">
   <parameters>
    <appId>507791397861-ptl53p96n17e4f3fj7me067a3p8942vv.apps.googleusercontent.com</appId>
    <secret>7v8ICLNhQSarM4tsxFbpCTmM</secret>
   </parameters>
  </component>

   <!-- Linked-In Security Components -->
   <component id="LinkedIn Config" type="AccurateAppend.Websites.Clients.Areas.Authentication.LinkedIn.LinkedInSecurityConfiguration, AccurateAppend.Websites.Clients" lifestyle="Singleton">
     <parameters>
       <appId>8665crm8yvbt31</appId>
       <secret>mqFjyvtZiS73orOb</secret>
     </parameters>
   </component>
  <!-- Email Verification Component -->
  <component id="IEmailVerificationService" service="AccurateAppend.Standardization.IEmailVerificationService, AccurateAppend.Standardization" type="DAL.DataAccess.XVerification, dal" lifestyle="Transient"/>

  <!-- Leads Dedup Service -->
  <component id="Leads Service" service="AccurateAppend.Accounting.ILeadConsolidationService, AccurateAppend.Accounting" type="AccurateAppend.Accounting.StandardLeadConsolidationService, AccurateAppend.Accounting" lifestyle="PerWebRequest">
   <parameters>
    <context>${DB Context}</context>
   </parameters>
  </component>

  <!-- Encryption Component -->
  <component id="upload" type="AccurateAppend.Websites.Clients.UploadRequestBuilder, AccurateAppend.Websites.Clients" lifestyle="Singleton"/>

  <component id="encryption" service="AccurateAppend.Core.Utilities.IEncryptor, AccurateAppend.Core" type="AccurateAppend.Core.Utilities.AesEncryption, AccurateAppend.Core" lifestyle="Singleton">
   <parameters>
    <key>AES 1s a w1dley used standard</key>
   </parameters>
  </component>

  <!-- reCAPTCHA -->
  <component id="CaptchaVerifyer" type="DomainModel.CaptchaVerifyer, DomainModel" lifestyle="Singleton">
   <parameters>
    <secret>6LeW4EkUAAAAAGG70mD0Tyr94kBfAlOWsDBr4kPL</secret>
   </parameters>
  </component>

   <!-- PDF Formatter -->
   <component id="IPdfGenerator" service="DomainModel.Html.IPdfGenerator, DomainModel" type="DomainModel.Html.IronPdfGenerator, DomainModel" lifestyle="Singleton">
   </component>

 </components>
</castle>