<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AccurateAppend-Accounting" version="3.9.7465.12882" targetFramework="net48" />
  <package id="AccurateAppend-ChargeProcessing.Contracts" version="1.1.0" targetFramework="net48" />
  <package id="AccurateAppend-JobProcessing" version="3.5.7453.20008" targetFramework="net48" />
  <package id="AccurateAppend-JobProcessing.Orchestration" version="1.2.7464.15138" targetFramework="net48" />
  <package id="AccurateAppend-Messaging" version="1.4.7334.19215" targetFramework="net48" />
  <package id="AccurateAppend-Security" version="3.5.7464.24419" targetFramework="net48" />
  <package id="AuthorizeNet" version="2.0.1" targetFramework="net48" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="CodeContracts.MSBuild" version="1.12.0" targetFramework="net471" developmentDependency="true" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net471" />
  <package id="Core-Collections" version="2.0.7464.24416" targetFramework="net48" />
  <package id="Core-Common" version="5.0.7464.24414" targetFramework="net48" />
  <package id="Core-ComponentModel" version="1.1.7464.24415" targetFramework="net48" />
  <package id="Core-Configuration" version="1.0.7453.20010" targetFramework="net48" />
  <package id="Core-Data" version="3.5.7464.24418" targetFramework="net48" />
  <package id="DAL" version="2.14.7457.22841" targetFramework="net48" />
  <package id="DataStreams" version="5.27.0" targetFramework="net471" />
  <package id="DQS" version="2.0.7457.22842" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="EventLogger" version="1.12.7440.24332" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net461" />
  <package id="ImpressionWise" version="1.1.7451.23269" targetFramework="net48" />
  <package id="Integration-NationBuilder" version="3.7.7440.26840" targetFramework="net48" />
  <package id="IronPdf" version="2019.7.0" targetFramework="net48" />
  <package id="KellermanEncryption" version="4.0.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net461" />
  <package id="NServiceBus" version="6.5.8" targetFramework="net48" />
  <package id="NServiceBus.Callbacks" version="2.0.2" targetFramework="net471" />
  <package id="NServiceBus.CastleWindsor" version="6.1.1" targetFramework="net471" />
  <package id="NServiceBus.NHibernate" version="7.2.5" targetFramework="net48" />
  <package id="NServiceBus.SqlServer" version="3.1.4" targetFramework="net48" />
  <package id="PDF.Core" version="2019.6.5.41" targetFramework="net48" />
  <package id="RestSharp" version="106.6.10" targetFramework="net48" />
  <package id="Standardization" version="1.0.7457.22841" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net471" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="4.7.0" targetFramework="net471" />
  <package id="XVerify" version="1.1.7451.23270" targetFramework="net48" />
</packages>