<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AccurateAppend-JobProcessing.Orchestration" version="1.2.7464.15138" targetFramework="net48" />
  <package id="AccurateAppend-Messaging" version="1.4.7334.19215" targetFramework="net48" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net48" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net48" />
  <package id="Core-Collections" version="2.0.7464.24416" targetFramework="net48" />
  <package id="Core-Common" version="5.0.7464.24414" targetFramework="net48" />
  <package id="Core-ComponentModel" version="1.1.7464.24415" targetFramework="net48" />
  <package id="Core-Configuration" version="1.0.7453.20010" targetFramework="net48" />
  <package id="Core-Data" version="3.5.7464.24418" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net48" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net48" />
  <package id="NServiceBus" version="6.5.8" targetFramework="net48" />
  <package id="NServiceBus.CastleWindsor" version="6.1.1" targetFramework="net48" />
  <package id="NServiceBus.NHibernate" version="7.2.5" targetFramework="net48" />
  <package id="NServiceBus.SqlServer" version="3.1.4" targetFramework="net48" />
</packages>