<?xml version="1.0" encoding="utf-8" ?>
<castle>

 <facilities>
  <!-- Add the Startable facility so auto-initializing components are enabled -->
  <facility id="startable" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc"/>
 </facilities>
  
 <components>

  <!-- Encryption Component -->
  <component id="encryption" service="AccurateAppend.Core.Utilities.IEncryptor, AccurateAppend.Core" type="AccurateAppend.Core.Utilities.AesEncryption, AccurateAppend.Core" lifestyle="Singleton">
   <parameters>
    <key>AES 1s a w1dley used standard</key>
   </parameters>
  </component>

  <!-- Controller Specific Overrides -->

  <component id="Upload Controller" type="AccurateAppend.Websites.Storage.Controllers.UploadController, AccurateAppend.Websites.Storage" lifestyle="Transient">
   <parameters>
    <temp>${Temp}</temp>
    <rawCustomerFiles>${Raw Customer Files}</rawCustomerFiles>
   </parameters>
  </component>
 </components>
</castle>
