<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AccurateAppend-JobProcessing.Orchestration" version="1.2.7464.15138" targetFramework="net48" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net471" />
  <package id="Core-Collections" version="2.0.7464.24416" targetFramework="net48" />
  <package id="Core-Common" version="5.0.7464.24414" targetFramework="net48" />
  <package id="Core-ComponentModel" version="1.1.7464.24415" targetFramework="net48" />
  <package id="Core-Data" version="3.5.7464.24418" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="Moq" version="4.5.30" targetFramework="net471" />
  <package id="NUnit" version="3.12.0" targetFramework="net48" />
</packages>