<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <clear />
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <config>
    <add key="DependencyVersion" value="HighestMinor" />
  </config>
  <activePackageSource>
    <clear />
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="public" value="https://api.nuget.org/v3/index.json"/>
    <add key="AccurateAppend" value="https://accurateappend.pkgs.visualstudio.com/Core/_packaging/AccurateAppend/nuget/v3/index.json"/>
  </packageSources>
</configuration>