<?xml version="1.0" encoding="utf-8" ?>
 <castle>
  <include uri="file://Configuration/Sales Context Components.config" />
  <include uri="file://Configuration/Charge Context Components.config" />
  <include uri="file://Configuration/Operations Context Components.config" />
  <include uri="file://Configuration/Data Components.config" />
  <properties>
   <aadb>ASPMembershipDB</aadb>
   <eventlog>AccurateAppendEventLogConnectionString</eventlog>
   <reporting>Reporting DB</reporting>
   <listBuilder>listbuilder</listBuilder>
   <suppression>Suppression Cache DB</suppression>
  </properties>
  
  <facilities>
   <!-- Add the Startable facility so auto-initializing components are enabled -->
   <facility id="startable" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc"/>
  </facilities>
  <components>
  
   <!-- ASPNET provider proxies -->
   <component id="FormsAuthenticationService" service="AccurateAppend.Security.IFormsAuthentication, DomainModel" type="DomainModel.FormsAuthenticationService, DomainModel" lifestyle="Singleton"/>
   <component id="AccountMembershipService" service="AccurateAppend.Security.IMembershipService, AccurateAppend.Security" type="AccurateAppend.Websites.Admin.AccountMembershipService, AccurateAppend.Websites.Admin" lifestyle="PerWebRequest">
    <forwardedTypes>
     <add service="AccurateAppend.Websites.Admin.AccountMembershipService, AccurateAppend.Websites.Admin"/>
    </forwardedTypes>
   </component>
   <component id="RoleService" service="AccurateAppend.Websites.Admin.IRoleService, AccurateAppend.Websites.Admin" type="AccurateAppend.Websites.Admin.AccountRoleService, AccurateAppend.Websites.Admin" lifestyle="PerWebRequest"/>
   
   <!-- Common Utilties -->
   <component id="Encryption" service="AccurateAppend.Core.Utilities.IEncryptor, AccurateAppend.Core" type="AccurateAppend.Core.Utilities.AesEncryption, AccurateAppend.Core" lifestyle="Singleton">
    <parameters>
     <key>AES 1s a w1dley used standard</key>
    </parameters>
   </component>
   
    <component id="IKeyManager" service="AccurateAppend.Pgp.IKeyManager, AccurateAppend.Pgp" type="AccurateAppend.Pgp.DefaultKeyManager, AccurateAppend.Pgp" lifestyle="Singleton"/>

   <!-- System Wide DAL (DEFAULT) -->
   <component id="Db Context" service="AccurateAppend.Data.ISessionContext, AccurateAppend.Data" type="AccurateAppend.Websites.Admin.UnifiedDataContext, AccurateAppend.Websites.Admin" lifestyle="PerWebRequest">
    <parameters>
     <nameOrConnectionString>#{aadb}</nameOrConnectionString>
    </parameters>
    <forwardedTypes>
     <add service="AccurateAppend.JobProcessing.DataAccess.DefaultContext, AccurateAppend.JobProcessing"/>
     <add service="AccurateAppend.Accounting.DataAccess.DefaultContext, AccurateAppend.Accounting"/>
     <add service="AccurateAppend.Accounting.DataAccess.IUsageRollupQuery, AccurateAppend.Accounting"/>
     <add service="AccurateAppend.JobProcessing.DataAccess.IMatchCountsMetricReport, AccurateAppend.JobProcessing"/>
     <add service="System.Data.Entity.DbContext, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </forwardedTypes>
   </component>

   <!-- Read Only Model Context -->
   <component id="Read Context" service="AccurateAppend.Data.ISessionContext, AccurateAppend.Data" type="DomainModel.ReadModel.ReadContext, DomainModel" lifestyle="PerWebRequest">
    <parameters>
     <nameOrConnectionString>#{aadb}</nameOrConnectionString>
    </parameters>
    <forwardedTypes>
     <add service="DomainModel.ReadModel.ReadContext, DomainModel"/>
    </forwardedTypes>
   </component>

   <!-- Logon Model Context -->
   <component id="Authentication Context" type="AccurateAppend.Security.DataAccess.AuthenticationContext, AccurateAppend.Security" lifestyle="PerWebRequest">
    <parameters>
     <nameOrConnectionString>#{aadb}</nameOrConnectionString>
    </parameters>
   </component>
   
   <!-- Stop Gap Component For Raw EF DB Access -->
   <component id="API Reporting Context" type="System.Data.Entity.DbContext, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" lifestyle="transient">
    <parameters>
     <nameOrConnectionString>#{reporting}</nameOrConnectionString>
    </parameters>
   </component>

    <!-- Email Queue -->
   <component id="Internal Message Queue" service="AccurateAppend.Accounting.DataAccess.IMessageQueue, AccurateAppend.Accounting" type="AccurateAppend.Accounting.DataAccess.DbMailQueue, AccurateAppend.Accounting" lifestyle="PerWebRequest">
    <parameters>
     <context>${Db Context}</context>
     <profileName>Notifications</profileName>
    </parameters>
   </component>
   
   <!-- PDF Formatter -->
   <component id="IPdfGenerator" service="DomainModel.Html.IPdfGenerator, DomainModel" type="DomainModel.Html.IronPdfGenerator, DomainModel" lifestyle="Singleton">    
   </component>
    
   <!-- XML Transaction Reporting -->
   <component id="ApiMetrics" service="DomainModel.Queries.IApiReportMetrics, DomainModel" type="DomainModel.Queries.ApiReportMetrics, DomainModel" lifestyle="PerWebRequest">
    <parameters>
     <apiContext>${API Reporting Context}</apiContext>
     <salesContext>${Db Context}</salesContext>
    </parameters>
   </component>
   
   <!-- List Builder -->
   <component id="List Builder" service="AccurateAppend.ListBuilder.DataSources.ConsumerProfile.IDataAccess, AccurateAppend.ListBuilder" type="AccurateAppend.ListBuilder.DataSources.ConsumerProfile.DataAccess, AccurateAppend.ListBuilder" lifetime="PerwebRequest">
    <parameters>
     <connectionString>#{listBuilder}</connectionString>
    </parameters>
   </component>

    <!-- reCAPTCHA -->
    <component id="CaptchaVerifyer" type="DomainModel.CaptchaVerifyer, DomainModel" lifestyle="Singleton">
      <parameters>
        <secret>6LeW4EkUAAAAAGG70mD0Tyr94kBfAlOWsDBr4kPL</secret>
      </parameters>
    </component>
  
  </components>
 </castle>
