<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AccurateAppend-Accounting" version="3.9.7465.12882" targetFramework="net48" />
  <package id="AccurateAppend-ChargeProcessing.Contracts" version="1.1.0" targetFramework="net48" />
  <package id="AccurateAppend-ChargeProcessing.Core" version="1.0.7440.26991" targetFramework="net48" />
  <package id="AccurateAppend-ChargeProcessing.Handlers" version="1.0.7465.11157" targetFramework="net48" />
  <package id="AccurateAppend-CustomerManagement.Contracts" version="1.0.3" targetFramework="net48" />
  <package id="AccurateAppend-JobManagement.Contracts" version="1.3.1.3" targetFramework="net48" />
  <package id="AccurateAppend-JobProcessing" version="3.5.7453.20008" targetFramework="net48" />
  <package id="AccurateAppend-JobProcessing.Orchestration" version="1.2.7464.15138" targetFramework="net48" />
  <package id="AccurateAppend-JobProcessing.Orchestration.LocalData" version="1.0.7453.20011" targetFramework="net48" />
  <package id="AccurateAppend-Messaging" version="1.4.7334.19215" targetFramework="net48" />
  <package id="AccurateAppend-Operations.Contracts" version="1.0.0.8" targetFramework="net48" />
  <package id="AccurateAppend-Operations.Core" version="1.0.7440.27154" targetFramework="net48" />
  <package id="AccurateAppend-Operations.Handlers" version="1.0.7440.27155" targetFramework="net48" />
  <package id="AccurateAppend-Pgp" version="1.1.7440.26160" targetFramework="net48" />
  <package id="AccurateAppend-PluginStorage" version="1.0.7440.25241" targetFramework="net48" />
  <package id="AccurateAppend-Security" version="3.5.7464.24419" targetFramework="net48" />
  <package id="AccurateAppend-ZenDesk.Contracts" version="1.2.0.3" targetFramework="net48" />
  <package id="AccurateAppend-ZenDesk.Handlers" version="1.0.7375.15114" targetFramework="net48" />
  <package id="AccurateAppend-ZenDesk.Integration" version="1.0.7459.16072" targetFramework="net48" />
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="AuthorizeNet" version="2.0.1" targetFramework="net48" />
  <package id="bootstrap" version="3.0.0" targetFramework="net451" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.1.7" targetFramework="net451" />
  <package id="BouncyCastle.OpenPgp" version="1.8.1.1" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="CodeContracts.MSBuild" version="1.12.0" targetFramework="net471" developmentDependency="true" />
  <package id="ColumnMapper" version="3.1.7440.25474" targetFramework="net48" />
  <package id="ColumnMapper.LocalData" version="1.0.7440.25476" targetFramework="net48" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net471" />
  <package id="Core-Collections" version="2.0.7464.24416" targetFramework="net48" />
  <package id="Core-Common" version="5.0.7464.24414" targetFramework="net48" />
  <package id="Core-ComponentModel" version="1.1.7464.24415" targetFramework="net48" />
  <package id="Core-Configuration" version="1.0.7453.20010" targetFramework="net48" />
  <package id="Core-Data" version="3.5.7464.24418" targetFramework="net48" />
  <package id="DAL" version="2.14.7457.22841" targetFramework="net48" />
  <package id="DataStreams" version="5.27.0" targetFramework="net471" />
  <package id="DQS" version="2.0.7457.22842" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="EntityFramework.Extended" version="6.1.1" targetFramework="net451" />
  <package id="EventLogger" version="1.12.7440.24332" targetFramework="net48" />
  <package id="EventLogger.Azure" version="1.0.7440.24336" targetFramework="net48" />
  <package id="GleamTech.Common" version="4.1.2" targetFramework="net48" />
  <package id="GleamTech.DocumentUltimate" version="5.2.2" targetFramework="net48" />
  <package id="GleamTech.FileUltimate" version="7.3.7" targetFramework="net48" />
  <package id="GleamTech.ImageUltimate" version="4.1.1" targetFramework="net48" />
  <package id="GleamTech.VideoUltimate" version="2.1.6" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net461" />
  <package id="ImpressionWise" version="1.1.7451.23269" targetFramework="net48" />
  <package id="Integration-NationBuilder" version="3.7.7440.26840" targetFramework="net48" />
  <package id="IronPdf" version="2019.7.0" targetFramework="net48" />
  <package id="jQuery" version="1.10.2" targetFramework="net451" />
  <package id="jquery.cookie.TypeScript.DefinitelyTyped" version="0.0.7" targetFramework="net451" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.3.3" targetFramework="net451" />
  <package id="jQuery.UI.Combined" version="1.8.24" targetFramework="net451" />
  <package id="jQuery.Validation" version="1.10.0" targetFramework="net451" />
  <package id="KellermanEncryption" version="4.0.0.0" targetFramework="net451" />
  <package id="Kendo" version="2013.2.716.340" targetFramework="net45" />
  <package id="kendo-ui.TypeScript.DefinitelyTyped" version="0.2.5" targetFramework="net461" />
  <package id="knockout.TypeScript.DefinitelyTyped" version="1.1.6" targetFramework="net461" />
  <package id="knockoutjs" version="3.4.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.SqlServer" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.4" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net48" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30116.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="2.6.2" targetFramework="net451" />
  <package id="Moment.js" version="2.10.6" targetFramework="net451" />
  <package id="moment.TypeScript.DefinitelyTyped" version="1.1.8" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net461" />
  <package id="NServiceBus" version="6.5.8" targetFramework="net48" />
  <package id="NServiceBus.Callbacks" version="2.0.2" targetFramework="net471" />
  <package id="NServiceBus.CastleWindsor" version="6.1.1" targetFramework="net471" />
  <package id="NServiceBus.NHibernate" version="7.2.5" targetFramework="net48" />
  <package id="NServiceBus.SqlServer" version="3.1.4" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="PDF.Core" version="2019.6.5.41" targetFramework="net48" />
  <package id="RestSharp" version="106.6.10" targetFramework="net48" />
  <package id="RestSharp.Newtonsoft.Json" version="1.5.1" targetFramework="net48" />
  <package id="Standardization" version="1.0.7457.22841" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net471" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Dataflow" version="4.7.0" targetFramework="net461" />
  <package id="UltimateUtils" version="3.0.818.737" targetFramework="net45" />
  <package id="underscore.js" version="1.8.3" targetFramework="net461" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.6.2" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net471" />
  <package id="XVerify" version="1.1.7451.23270" targetFramework="net48" />
</packages>