@using AccurateAppend.Websites.Clients.HtmlHelpers.Styles

@Html.Layout().Promo("Success")

@using (var container = Html.Layout().Container())
{
  using (var row = container.Row())
  {
    using (row.Column(width: 12, style: "padding: 30px 0 30px 0"))
    {
      <p>Your password has been reset and you are now logged in.</p>
      <p style="margin-top: 20px;"><a href="/" class="blue-link">Click here</a> for the Dashboard.</p>
    }
  }
}
