<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <!--[if gte mso 9]><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml><![endif]-->
    <title>Accurate Append - Order: $orderId$</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <script type="" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <!--<body bgcolor="#ffffff" style="margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;">-->
  <body>
    <div class="container">
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-md-12">
          <div class="pull-left">
            <div style="font-weight: bold; font-size: 1.2em;">Accurate Append Inc</div>
            <div>1100 Bellevue Way NE Ste 8a</div>
            <div>Bellevue, WA 98004</div>
          </div>
          <div class="pull-right text-right">
            <h3>ORDER DETAILS</h3>
            <div>Order #: $orderId$</div>
            <div>Order Date: $date$</div>
            <div>$billingStatus$</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <strong>Bill To</strong>
              </h3>
            </div>
            <div class="panel-body">
              <div>$customerName$</div>
              <div>$customerAddress$</div>
              <div>$customerCity$ $customerState$ $customerZip$</div>
              <div>$customerEmail$</div>
              <div>$customerTelephone$</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <strong>Order summary</strong>
              </h3>
            </div>
            <div class="panel-body">
              <div class="table">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <td>
                        <strong>Description</strong>
                      </td>
                      <td class="text-center">
                        <strong>Price</strong>
                      </td>
                      <td class="text-center">
                        <strong>Quantity</strong>
                      </td>
                      <td class="text-right">
                        <strong>Totals</strong>
                      </td>
                    </tr>
                  </thead>
                  <tbody>
                    {%foreach li in lineItems%}
                    <tr>
                      <td>$li.Title$</td>
                      <td class="text-center">$li.Cost$</td>
                      <td class="text-center">$li.Quantity$</td>
                      <td class="text-right">$li.Total$</td>
                    </tr>{$foreach%}
                    <tr>
                      <td colspan="3" class="no-line">
                        <strong>TOTAL</strong>
                      </td>
                      <td class="no-line text-right">$total$</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>