<?xml version="1.0" encoding="utf-8" ?>
 <castle>
  <properties>
   <aadb>ASPMembershipDB</aadb>
  </properties>
  
  <facilities>
   <!-- Add the Startable facility so auto-initializing components are enabled -->
   <facility id="startable" type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor, Version=3.3.0.0, Culture=neutral, PublicKeyToken=407dd0808d44fbdc"/>
  </facilities>
  <components>

   <!-- System Wide DAL (HANDLERS) -->
   <component id="Handler Context" service="AccurateAppend.Data.ISessionContext, AccurateAppend.Data" type="AccurateAppend.Websites.Admin.UnifiedDataContext, AccurateAppend.Websites.Admin" lifestyle="Transient">
    <parameters>
     <nameOrConnectionString>#{aadb}</nameOrConnectionString>
    </parameters>
     <forwardedTypes>
       <add service="AccurateAppend.JobProcessing.DataAccess.DefaultContext, AccurateAppend.JobProcessing"/>
       <add service="AccurateAppend.Accounting.DataAccess.DefaultContext, AccurateAppend.Accounting"/>
      </forwardedTypes>
   </component>

   <component id="Sales Db Context" type="AccurateAppend.Sales.DataAccess.DefaultContext, AccurateAppend.Sales" lifestyle="Transient">
    <parameters>
     <nameOrConnectionString>#{aadb}</nameOrConnectionString>
    </parameters>
   </component>

    <component id="New IBillFormatterFactory" service="AccurateAppend.Sales.Contracts.Services.IBillFormatterFactory, AccurateAppend.Sales.Contracts" type="AccurateAppend.Websites.Admin.Areas.Sales.CreateBill.Data.DefaultBillFormatterFactory, AccurateAppend.Websites.Admin" lifestyle="Transient">
    </component>

    <component id="CC Db Context" type="AccurateAppend.ChargeProcessing.DataAccess.DefaultContext, AccurateAppend.ChargeProcessing" lifestyle="Transient">
      <parameters>
        <nameOrConnectionString>#{aadb}</nameOrConnectionString>
      </parameters>
    </component>

    <component id="ICardInstanceFactory" service="AccurateAppend.ChargeProcessing.ICardInstanceFactory, AccurateAppend.ChargeProcessing" type="AccurateAppend.ChargeProcessing.CardInstanceFactory, AccurateAppend.ChargeProcessing" lifestyle="Transient">
    </component>

    <!-- START Operations -->

    <component id="Operations Db Context" type="AccurateAppend.Operations.DataAccess.DefaultContext, AccurateAppend.Operations" lifestyle="Transient">
      <parameters>
        <nameOrConnectionString>#{aadb}</nameOrConnectionString>
      </parameters>
    </component>

    <!-- Email Queue -->
    <component id="Database Message Queue" type="AccurateAppend.Data.DatabaseMail, AccurateAppend.Data" lifestyle="Transient">
      <parameters>
        <context>${Operations Db Context}</context>
        <profileName>Operations</profileName>
      </parameters>
    </component>

    <!-- END Operations -->

    <!-- Email Queues -->
    <component id="Internal Message Queue" service="AccurateAppend.Accounting.DataAccess.IMessageQueue, AccurateAppend.Accounting" type="AccurateAppend.Accounting.DataAccess.DbMailQueue, AccurateAppend.Accounting" lifestyle="Transient">
      <parameters>
        <context>${Handler Context}</context>
        <profileName>Notifications</profileName>
      </parameters>
      <forwardedTypes>
        <add service="AccurateAppend.Accounting.DataAccess.DbMailQueue, AccurateAppend.Accounting" />
      </forwardedTypes>
    </component>

    <!-- FTP Administration -->
    <component id="IFtpHost" service="AccurateAppend.Security.FTPAdministration.IFtpHost, AccurateAppend.Websites.Admin" type="AccurateAppend.Security.FTPAdministration.TitanFacade, AccurateAppend.Websites.Admin" lifestyle="Singleton">
      <parameters>
        <host>c1n1</host>
        <credential>Administrator</credential>
        <passKey>DCAtlU1Bk9qNKXMo</passKey>
        <ftpRoot>${FTP Root}</ftpRoot>
        <server>Client FTP</server>
        <port>31000</port>
      </parameters>
    </component>

    <component id="IUsageReportBuilder" service="AccurateAppend.Sales.Formatters.IUsageReportBuilder, AccurateAppend.Sales" type="AccurateAppend.Sales.DataAccess.DefaultUsageReportBuilder, AccurateAppend.Sales" lifestyle="Transient">
      <parameters>
        <context>${Sales Db Context}</context>
      </parameters>
    </component>

  </components>
 </castle>
