<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <properties>
  <aadb>ASPMembershipDB</aadb>
 </properties>
 
  <components>
    
    <!-- START Billing  -->
    <component id="CC Db Context" type="AccurateAppend.ChargeProcessing.DataAccess.DefaultContext, AccurateAppend.ChargeProcessing" lifestyle="PerWebRequest">
      <parameters>
        <nameOrConnectionString>#{aadb}</nameOrConnectionString>
      </parameters>
    </component>
    <!-- END Billing -->

  </components>
</castle>
