<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    
    <!-- Controller Specific Overrides -->
   
    <component id="DownloadFilesController" type="AccurateAppend.Websites.Admin.Areas.JobProcessing.DownloadFiles.DownloadFilesController, AccurateAppend.Websites.Admin" lifestyle="Transient">
      <parameters>
        <rawCustomerFiles>${Raw Customer Files}</rawCustomerFiles>
        <outbox>${Outbox}</outbox>
      </parameters>
    </component>

    <component id="DownloadUserFileController" type="AccurateAppend.Websites.Admin.Areas.Clients.DownloadUserFile.DownloadUserFileController, AccurateAppend.Websites.Admin" lifestyle="Transient">
      <parameters>
        <assistedFiles>${Assisted Files}</assistedFiles>
      </parameters>
    </component>
    
    <component id="ResetController" type="AccurateAppend.Websites.Admin.Areas.JobProcessing.Reset.ResetController, AccurateAppend.Websites.Admin" lifestyle="Transient">
      <parameters>
        <inbox>${Inbox}</inbox>
      </parameters>
    </component>

    <component id="BuildListController" type="AccurateAppend.Websites.Admin.Areas.ListBuilder.Controllers.BuildListController, AccurateAppend.Websites.Admin" lifestyle="Transient">
      <parameters>
        <temp>${Temp}</temp>
        <rawCustomerInputFiles>${Raw Customer Files}</rawCustomerInputFiles>
      </parameters>
    </component>

    <component id="SystemsController" type="AccurateAppend.Websites.Admin.Areas.Operations.Systems.SystemsController, AccurateAppend.Websites.Admin" lifestyle="Transient">
      <parameters>
        <context>${Read Context}</context>
      </parameters>
    </component>

    <component id="PgpController" type="AccurateAppend.Websites.Admin.Areas.Operations.Pgp.PgpController, AccurateAppend.Websites.Admin" lifestyle="Transient">
      <parameters>
        <temp>${Temp}</temp>
      </parameters>
    </component>

   <component id="ViewNationsController" type="AccurateAppend.Websites.Admin.Areas.Clients.ViewNations.ViewNationsController, AccurateAppend.Websites.Admin" lifestyle="Transient">
    <parameters>
     <context>${Read Context}</context>
    </parameters>
   </component>

   <component id="BusController" type="AccurateAppend.Websites.Admin.Areas.Operations.Bus.BusController, AccurateAppend.Websites.Admin" lifestyle="Transient">
    <parameters>
     <context>${Read Context}</context>
    </parameters>
   </component>

  </components> 
</castle>
