<?xml version="1.0" encoding="utf-8" ?>
<castle>
 <properties>
  <aadb>ASPMembershipDB</aadb>
 </properties>
 
  <components>
    
    <!-- START Sales -->
   <component id="Sales Db Context" type="AccurateAppend.Sales.DataAccess.DefaultContext, AccurateAppend.Sales" lifestyle="PerWebRequest">
    <parameters>
     <nameOrConnectionString>#{aadb}</nameOrConnectionString>
    </parameters>
   </component>

   <component id="Sales Read Context" type="AccurateAppend.Sales.ReadModel.ReadContext, AccurateAppend.Sales" lifestyle="PerWebRequest">
    <parameters>
     <nameOrConnectionString>#{aadb}</nameOrConnectionString>
    </parameters>
   </component>

   <component id="DealManagementService" type="DomainModel.Services.DealManagementService, DomainModel" lifestyle="Transient">
     <forwardedTypes>
       <add service="AccurateAppend.Sales.Contracts.Services.IDealManagementService, AccurateAppend.Sales.Contracts"/>
       <add service="AccurateAppend.Sales.Contracts.Services.IOrderManagementService, AccurateAppend.Sales.Contracts"/>
     </forwardedTypes>
   </component>

   <component id="DealProcessService" type="DomainModel.Services.DealProcessService, DomainModel" lifestyle="Transient">
   </component>

   <component id="DealRefundService" type="DomainModel.Services.DealRefundService, DomainModel" lifestyle="Transient">
   </component>

   <component id="StandardOrderCalculationService" service="AccurateAppend.Sales.IOrderCalculationService, AccurateAppend.Sales" type="AccurateAppend.Sales.DataAccess.StandardOrderCalculationService, AccurateAppend.Sales" lifestyle="Transient">
   </component>

   <component id="New IBillFormatterFactory" service="AccurateAppend.Sales.Contracts.Services.IBillFormatterFactory, AccurateAppend.Sales.Contracts" type="AccurateAppend.Websites.Admin.Areas.Sales.CreateBill.Data.DefaultBillFormatterFactory, AccurateAppend.Websites.Admin" lifestyle="Transient">
   </component>

   <!-- Queries -->
   <component id="IDealsViewQuery" type="DomainModel.Queries.DealsViewQuery, DomainModel" lifestyle="transient">
    <parameters>
     <context>${Sales Read Context}</context>
    </parameters>
    <forwardedTypes>
     <add service="AccurateAppend.Sales.ReadModel.Queries.IDealsViewActiveDuringQuery, AccurateAppend.Sales"/>
     <add service="AccurateAppend.Sales.ReadModel.Queries.IDealsViewByIdQuery, AccurateAppend.Sales"/>
     <add service="AccurateAppend.Sales.ReadModel.Queries.IDealNotesQuery, AccurateAppend.Sales"/>
    </forwardedTypes>
   </component>

    <component id="IUsageReportBuilder" service="AccurateAppend.Sales.Formatters.IUsageReportBuilder, AccurateAppend.Sales" type="AccurateAppend.Sales.DataAccess.DefaultUsageReportBuilder, AccurateAppend.Sales" lifestyle="Transient">
      <parameters>
        <context>${Sales Db Context}</context>
      </parameters>
    </component>

    <!-- END Sales -->

  </components>
</castle>
