<section class="page-tab">
  <div class="carousel">
    <div class="container">
      <div class="row" style="background-color: #fff; padding: 20px;">
        <ul class="slides">
          <li>
            <div class="block fixed">

              <h1>We didn't find any lists in your nation</h1>
              <p>This probably because you have not created lists or imported contacts.</p>
              <p style="margin-bottom: 30px;">NationBuilder support can help you import data into your nation and can be contacted via phone at 1-213-394-4623.</p>
              <p>@Html.ActionLink("After you import your lists click here", "Index", "DisplayLists", new {area = "NationBuilder"}, new { @class = "blue-link", target = "_blank" }) to refresh the page and view your lists.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>