<div class="carousel">
  <div class="container">
    <ul class="slides">
      <li>
        <div class="block fixed">

          <div class="order-header">
            <h1>Your password has been successfully changed.</h1>
            @Html.ActionLink("Click here to proceed", "Index", "Current", new {area="Order"}, new { @class="btn btn-default" })
          </div>

        </div>
      </li>

    </ul>
  </div>
</div>